{% extends 'base.html' %}

{% block title %}
    About - MVPS
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p><strong>Miami Valley Packaging Solutions</strong> Is Focused On Providing Packaging Solutions For Our Customers Primarily Through Corrugated Cartons,
        Die Cut, Partitions And Other Specialty Packaging, With The Goal Of Helping Our Customers Grow Their Businesses—Increase Revenues,
        Decrease Costs, And Operate More Efficiently.</p>
    <!-- Additional content for the 'about' page goes here -->
{% load static %}
    <img src="{% static 'about.jpg' %}", width="50">
{% endblock %}
