{% extends 'base.html' %}

{% block title %}
    Meet - MVPS
{% endblock %}
{% block content %}
<h1>Meet the owners</h1>
    <section>
        <p><strong>Jamie Williams- </strong>Has a degree in business administration and over 30 years of experience in all aspects of the corrugated
        industry. His experience includes: Operations Manager, Customer Service Manager, Quality Control, ISO Manager and Information Management.</p>
        <br>
        <p>Jame@mvpsohio.com</p>
        <br>
        <p>Jamie serves as the president of Miami Valley Packaging Solutions</p>
        <br>
        <p><strong>Kenny Phegley- </strong>Has over 30 years of production knowledge, including the last 25 in management. Overseeing the many different
        aspects of manufacturing. He has worked for several different corrugated companies from one of the industries largest to a moderate sized sheet plant.
        Kenny's expertise in these areas are the perfect fit for his roll in day to day production operation and plant management.</p>
        <br>
        <p>Kenny@mvpsohio.com</p>
        <br>
        <p>Kenny serves as the vice president of manufacturing at MVPS</p>
        <br>
        <p><strong>Don Chmiel- </strong>Has a degree in marketing and in packaging engineering and over 30 years of experience in the corrugated industry.
        Initially starting design and moving into sales. With an understanding and a desire to solve customers needs. Don was the top sales representative
        for B&L Packaging, Inc. For 18 years.</p>
        <br>
        <p>Done@mvpsohio.com</p>
        <br>
        <p>Don serves as the vice president of sales and marketing</p>
    </section>
{% endblock %}